{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur notre liste de projets !{% endblock %}

{% block body %}
    <div class="container mt-5 ">
        <h1 class="text-center mb-4">Liste des Projets</h1>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for projet in projets %}
                <div class="col">
                    <div class="card h-100 shadow">
                        <div class="card-body">
                            <h5 class="card-title text-primary">
                                <a href="{{ path('projet_show', { 'titre': projet.titre }) }}" class="text-decoration-none">
                                    {{ projet.titre }}
                                </a>
                            </h5>
                            <p class="card-text">
                                {{ projet.description|length > 100 ? projet.description[:100] ~ '...' : projet.description }}
                            </p>
                            <ul class="list-unstyled">
                                <li><strong>Objectif : </strong>{{ projet.montantObjectif }}€</li>
                                <li><strong>Actuel : </strong>{{ projet.montantActuel }}€</li>
                                <li><strong>Date limite : </strong>{{ projet.dateLimite|date('d-m-Y H:i') }}</li>
                                <li><strong>Statut : </strong>{{ projet.statut }}</li>
                            </ul>
                        </div>
                        <div class="card-footer">
                            <a href="{{ path('projet_show', { 'titre': projet.titre }) }}" class="btn btn-primary w-100">
                                Voir le projet
                            </a>
                        </div>
                        
                    </div>
                </div>
            {% endfor %}
            <a href="{{ path('projet_ajouter') }}" class="btn btn-primary w-100">ajouter un projet</a>
        </div>
    </div>
{% endblock %}
